<div class="row">
  <%= link_to t(".order_managerment"), admin_orders_path, class: "col-md-3 btn btn-success" %>
  <%= link_to t(".product_managerment"), admin_products_path, class: "col-md-3 btn btn-info" %>
  <%= link_to t(".category_managerment"), admin_categories_path, class: "col-md-3 btn btn-primary" %>
</div>
